psycopg2-binary==2.7.4
Django==2.0.4
django-confy==1.0.4
sqlalchemy==1.2.7
django-extensions==2.0.6
requests==2.18.4
django-tastypie==0.14.1
django-cors-headers==2.2.0
ujson==1.35
bjoern==2.2.0
gevent==1.2.2
bottle==0.12.13
